<div class="container">
    <form >
        <div class="row">
            <div class="col-1">
                <mat-icon aria-hidden="false" aria-label="Example notebook icon" fontIcon="notebook"></mat-icon>
            </div>
            <div class="col-11">
                <h1>Login</h1>
            </div>
        </div>
        <br>
        <div>
         <input type="text" placeholder="username" class="form-control"  #usuario>   
        </div>
        <br>
        <div>
         <input type="password" placeholder="password" class="form-control" #contrasena>   
        </div>
        <br>
         <button type="submit" class="btn btn-primary boton " (click)="agregardatos(usuario.value,contrasena.value)">guardar</button><br>
        <br>
        </form>
    </div>
    
